# folder to ignore
**/.vscode/
**/config/
**/__pycache__/
**/resolution/reso*
ptweights/weights/
mltraining/models/

# test files to ignore
test*
*.pyc

# compilation files to ignore
*.so
*.pcm
*_dict.cxx
*.d
*tmp*
*.h

# jupyter notebook
*.ipynb

../../run_analysis.py
../../src/correlated_bkgs.py
../../src/get_v2_vs_frac.py
../../src/get_vn_vs_mass.py
../../src/proj_thn.py
#make_configs_multitrial.py
produce_fit_multitrial_syst_plots.py
run_fits.py
run_multitrial_fit.sh
../../utils/utils.py